<md-dialog flex-xs="" class="custom-dialog">
    <form name="movieCard">
        <md-toolbar layout="row" flex="" class="popup">
            <h3 flex="90">{{ displayMovieCard.Title }}</h3>
            <md-button ng-click="closeDialog()" ng-disabled="movieCard.$invalid">&#10006;</md-button>
        </md-toolbar>
        <md-dialog-content layout="column" layout-margin>
            <img class="dialog-image" ng-src="{{displayMovieCard.Poster}}">
            <div class="row">
                <span ng-repeat="star in [1,2,3,4,5]" ng-class="{ 'filled': $index < (+displayMovieCard.imdbRating)/2}" class="star-ratings" ng-click="updateRating($index)">&#9733;</span>
            </div>
            <md-input-container flex="30">
                <label>Year</label>
                <input ng-model="displayMovieCard.Year" required>
            </md-input-container>
            <md-input-container flex="30">
                <label>Genre</label>
                <input ng-model="displayMovieCard.Genre" required>
            </md-input-container>
            <md-input-container flex="30">
                <label>Director</label>
                <input ng-model="displayMovieCard.Director" required>
            </md-input-container>
            <md-input-container flex="30" required>
                <label>Actors</label>
                <input ng-model="displayMovieCard.Actors" required>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="clearDialog()">Reset</md-button>
            <md-button ng-click="updateMovie(displayMovieCard)" ng-disabled="movieCard.$invalid">Save</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>