.container2 {
    &#section2 {
        .conversations-header {
            @extend %conversations-header;
        }

        .conversations {
            margin: 30px 0;

            .sender-col {
                max-width: 155px;
                margin: 0 20px 0 0;
            }

            .messages-col {
                max-width: 750px;

                .ribbon {
                    font-size: 8px;
                    background: black;
                    color: white;
                    padding: 2px;
                    vertical-align: middle;
                }
            }

        }

    }
}

.sender-number {
    margin: 0 0 1px 0;
}
.margin-top {
    margin: 30px 0 0 0;
}

.load {
    @extend %load
}