$border: 1px solid #e0e0e0;
$container-primary-color: #fefefe;
$block-color: #e0e0e0;
$button-color: #c0c0c0;
$container2-color: #f1f1f1;
$font-stack: Arial;
$font-light: #a4a4a4;

* {
    box-sizing: border-box;
}

.width {
    width: 100%;
}

body {
    font-family: $font-stack;
    background: #f8fafa;
    margin: 0;
}

.header {
    margin: 0 0 30px 0;
}

h1 {
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.light {
    color: #cbcaca;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.container-body {
    border: $border;
    padding: 20px 20px 0 20px;
}

.container2 {
    background: $container2-color;
    display: none;
}

a {
    color: black;
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

.footer {
    border: 0;
    padding: 6px 0 20px 0;
    font-size: 12px;
    color: #7c7c7c;
}

#section1 {
    display: block;
}

textarea {
    resize: none;
}

%load {
    max-width: 454px;
    background: $button-color;
    margin: 50px auto;
    text-align: center;
    padding: 20px 0;

    .load-more-details {
        margin: 5px 0 0 0;
        color: #6a6969;
    }
}

%conversations-header {
    font-size: 30px;
}