.main {
    border-top: 10px solid black;

    .logout {
        font-size: 18px;
        margin: 4px 0 0 0;
    }
}

.number {
    margin: 0 auto;
    max-width: fit-content;

    &.number-text {
        font-size: 33px;
    }

    &.about-number {
        display: block;
        margin: 5px auto 18px auto;
        font-size: 12px;
    }
}

.send-message-block {
    max-width: 850px;
    background: $block-color;
    margin: 0 auto 70px;
    padding: 28px;

    .label {
        margin: 0 10px 0 0;
        width: 120px;
        font-size: 25px;
        text-align: right
    }

    .phone-number {
        height: 38px;
        max-width: 308px;
        background: $container-primary-color;
        margin: 0 10px 10px 0;
    }
    
    .phone-number-text {
        margin: 10px 0;
        font-size: 25px;
        font-style: italic;
        color: $font-light;
    }
}

.message-info {
    max-width: 650px;

    .message-block {
        height: 108px;
        background-color: $container-primary-color;
        max-width: 650px;
        margin: 0 0 5px 0;
    }
    
    .attachment {
        font-size: 15px;
    }
     p {
        margin: 30px 0 0 0;
     }
    
    .send-button {
        height: 54px;
        max-width: 220px;
        border: 0;
        margin: 0 19px 0 0;
        background: $button-color;
        padding: 18px;
        font-size: 15px;
        cursor: pointer;
    }
    
    .schedule-delivery {
        margin: 18px 0 0 0;
        color: #b1b1b1;

        a {
            color: #b1b1b1;  
        }
    }
}

.tabs {
    margin: 0 8px 0 0;
    font-size: 13px;
    text-decoration: underline;

    &.active {
        text-decoration: none;
    }

    &.tab1 {
        @extend %tab-background;
        max-width: 191px;
    }
    
    &.tab2 {
        @extend %tab-background;
        max-width: 168px;
    }
    
    &.tab3 {
        @extend %tab-background;
        max-width: 88px;
    }
}

%tab-background {
    height: 36px;
    border: $border;
    background: $container2-color;
}

.change-password {
    margin: 10px 0 0 0;
    font-size: 13px;
}