.container2 {
    &#section3 {
        .conversations-header {
            @extend %conversations-header;
        }

        .image-row {
            margin: 10px 0 0 0;
            
        .imgblock {
            margin: 30px 15px 0 15px;
            max-width: 200px;
            height: 207px;
            padding: 8px;
            border: $border;

            .image {
                max-width: 178px;
                height: 142px;
                filter: opacity(0.2);
            }

            .caption {
                font-size: 16px;
                margin: 3px 0;
            }

            .imgcaption {
                font-size: 14px;
            }
        }
        }

    }

}

.load {
    @extend %load
}