.container2 {
    &#section1 {
        .new-text-message {
            margin: 0px 0 8px 0;
            font-size: 16px;
        }

        .scheduled-message {
            margin: 18px 0 0;
            padding: 18px 0;
            text-align: center;
            background: $button-color;
        }

        .attach-photo-schedule-delivery {
            font-size: 14px;
        }

        .enter-message {
            height: 52px;
            max-width: 770px;
            background: $container-primary-color;
            margin: 0 8px 3px 0;
        }
        
        .send-message {
            height: 52px;
            max-width: 145px;
            border: 0;
            background: $button-color;
            font-size: 15px;
            vertical-align: top;
        }
    }
}

.container2-header-left {
    .phone-number {
        font-size: 30px;
    }

    .set-name {
        font-size: 14px;
        vertical-align: middle;
        color: $font-light;
    }

    .view-conversation {
        font-size: 25px;
    }

    .arrow {
        font-size: 15px;
        margin: 10px 0 0 9px;
    }
}

.sender {
    margin: 15px 0;
    font-size: 16px;
}

.chat-message {
    max-width: 730px;
    background: #e5e5e5;
    padding: 18px 45px 18px 18px;
}

.load {
    @extend %load;
}