$border: 1px solid #eaeaea;
$container-primary-color: #fefefe;
$block-color: #e0e0e0;
$button-color: #c0c0c0;
$container2-color: #f5f5f5;
$font-stack: Arial;

* {
    box-sizing: border-box;
}

.width {
    width: 100%;
}

body {
    font-family: $font-stack;
    background: #f8fafa;
    margin: 0;
    opacity: 0.8;
}

.container {
    max-width: 970px;
    margin: 0 auto;
}

.container-body {
    border: $border;
    padding: 20px 20px 0 20px;
}

.container2 {
    background: $container2-color;
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.row1 {
    margin: 0 0 55px 0;
}

.cb {
    border-top: 10px solid black;
}

.row1left {
    font-size: 20px;
}

a {
    color: black;
}

.bold {
    font-weight: bold;
}

#section1 {
    display: block;
}
.row1text {
    font-size: 25px;
}

.row1lefttext {
    font-size: 18px;
}

.row2 {
    margin: 0 auto;
    max-width: fit-content;
}

.row2text {
    font-size: 33px;
}

.row3 {
    margin: 5px auto 18px auto;
    max-width: fit-content;
}

.row3text {
    font-size: 12px;
}

.row4 {
    max-width: 850px;
    background: $block-color;
    margin: 0 auto 70px;
    padding: 28px;
}

.col1 {
    margin: 0 10px 0 0;
    max-width: 80px;
}

.col2 {
    max-width: 700px;
}

.col1row1 {
    margin: 5px 0 30px 0;
}

.col1row1text {
    font-size: 20px;
}

.col2row1block1 {
    height: 38px;
    max-width: 308px;
    background: $container-primary-color;
    margin: 0 10px 10px 0;
}

.col2row1block2 {
    margin: 10px 0 20px 0;
}

.col2row1text {
    font-size: 20px;
    font-style: italic;
    opacity: 0.5;
}

.col2row2 {
    height: 108px;
    background-color: $container-primary-color;
}

.col2row3 {
    margin: 8px 0 30px;
    opacity: 0.7;
}

.col2row4block1 {
    height: 54px;
    max-width: 220px;
    border: 0;
    margin: 0 19px 0 0;
    background: $button-color;
    padding: 18px;
    font-size: 15px;
}

.col2row4block2 {
    margin: 18px 0 0 0;
    opacity: 0.3;
}

.row5block {
    border: 0;
    margin: 0 8px -5px 0;
    font-size: 15px;
    text-decoration: underline;
}

.active {
    border-bottom: 0px;
    text-decoration: none;
}

.row5block1 {
    height: 36px;
    max-width: 191px;
    background: $container2-color;
}

.row5block2 {
    height: 32px;
    max-width: 168px;
    background: $container2-color;
}

.row5block3 {
    height: 31px;
    max-width: 88px;
    background: $container2-color;
}

.c2row1lefttext1 {
    font-size: 30px;
}

.c2row1lefttext2 {
    font-size: 15px;
    opacity: 0.6;
}

.c2row1righttext1 {
    font-size: 25px;
}

.c2row2 {
    margin: 23px 0 8px 0;
}

.row3left {
    height: 50px;
    max-width: 770px;
    background: $container-primary-color;
    margin: 0 8px 8px 0;
}

.row3right {
    height: 52px;
    max-width: 142px;
    border: 0;
    background: $button-color;
    font-size: 15px;
}

.c2row5 {
    // height: 50px;
    margin: 18px 0 0;
    padding: 18px 0;
    text-align: center;
    background: $button-color;
}

.c2row {
    margin: 18px 0;
    font-size: 18px;
}

.light {
    opacity: 0.2;
}

.c2row2 {
    font-size: 18px;
}

.c2row4 {
    font-size: 15px;
}

.c2row6 {
    // height: 70px;
    max-width: 730px;
}

.c2row7 {
    // height: 50px;
    max-width: 727px;
}

.chat {
    background: #e5e5e5;
    padding: 18px 45px 18px 18px;
}

.c2row8 {
    height: 80px;
    max-width: 454px;
    background: $button-color;
    margin: 50px auto;
    text-align: center;
    padding: 20px 0;
}

.c2row8row2 {
    opacity: 0.8;
}

.footer {
    border: 0;
    padding: 6px 0 20px 0;
    opacity: 0.8;
}

.s2row1 {
    margin: 30px 0 0 0;
    font-size: 30px;
}

.margin {
    margin: 5px 0 0 0;
}

.s2row2 {
    margin: 30px 0;
}

.s2row2col1 {
    max-width: 155px;
    margin: 0 20px 0 0;
}

.s2row2col2 {
    max-width: 750px;
}

.s2row {
    margin: 30px 0;
}

.ribbon {
    height: 12px;
    max-width: 25px;
    font-size: 11px;
    background: black;
    color: white;
    padding: 3px 3px 2px;
}

// .s3row1 {
//     margin: 30px 0 0;
// }

.imgblock {
    max-width: 200px;
    height: 200px;
    padding: 8px;
    border: $border;
}

.imgMargin {
    margin: 0 41px 0 0;
}

.s3row1 {
    margin: 30px 0 0 0;
}

.image {
    max-width: 178px;
    height: 142px;
}

.caption {
    font-size: 16px;
    margin: 3px 0;
}

.imgcaption {
    font-size: 14px;
}