* {
  box-sizing: border-box;
}

.width {
  width: 100%;
}

body {
  font-family: Arial;
  background: #f8fafa;
  margin: 0;
  opacity: 0.8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.light {
  opacity: 0.2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.container-body {
  border: 1px solid #eaeaea;
  padding: 20px 20px 0 20px;
}

.container2 {
  background: #f5f5f5;
  display: none;
}

a {
  color: black;
}

.bold {
  font-weight: bold;
}

.footer {
  border: 0;
  padding: 6px 0 20px 0;
  opacity: 0.8;
}

#section1 {
  display: block;
}

.load {
  height: 80px;
  max-width: 454px;
  background: #c0c0c0;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0;
}
.load .load-message-details {
  opacity: 0.8;
}

.container2#section3 .conversations-header, .container2#section2 .conversations-header {
  margin: 30px 0 0 0;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

.width {
  width: 100%;
}

body {
  font-family: Arial;
  background: #f8fafa;
  margin: 0;
  opacity: 0.8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.light {
  opacity: 0.2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.container-body {
  border: 1px solid #eaeaea;
  padding: 20px 20px 0 20px;
}

.container2 {
  background: #f5f5f5;
  display: none;
}

a {
  color: black;
}

.bold {
  font-weight: bold;
}

.footer {
  border: 0;
  padding: 6px 0 20px 0;
  opacity: 0.8;
}

#section1 {
  display: block;
}

.load {
  height: 80px;
  max-width: 454px;
  background: #c0c0c0;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0;
}
.load .load-message-details {
  opacity: 0.8;
}

.container2#section3 .conversations-header, .container2#section2 .conversations-header {
  margin: 30px 0 0 0;
  font-size: 30px;
}

.main {
  border-top: 10px solid black;
}
.main .header {
  margin: 0 0 55px 0;
}
.main .header .title-text {
  font-size: 25px;
}
.main .header .logout-text {
  font-size: 18px;
}
.main .number {
  margin: 0 auto;
  max-width: fit-content;
}
.main .number .number-text {
  font-size: 33px;
}
.main .number .about-number {
  margin: 5px auto 18px auto;
  max-width: fit-content;
}
.main .number .about-number .about-number-text {
  font-size: 12px;
}

.label-text {
  font-size: 20px;
}

.send-message-block {
  max-width: 850px;
  background: #e0e0e0;
  margin: 0 auto 70px;
  padding: 28px;
}
.send-message-block .label {
  margin: 0 10px 0 0;
  max-width: 80px;
}
.send-message-block .label .label-to {
  margin: 5px 0 30px 0;
}

.new-message {
  max-width: 700px;
}
.new-message .phone-number {
  height: 38px;
  max-width: 308px;
  background: #fefefe;
  margin: 0 10px 10px 0;
}
.new-message .phone-number .phone-number-text {
  margin: 10px 0 20px 0;
}
.new-message .phone-number .phone-number-text .phone-number-text-style {
  font-size: 20px;
  font-style: italic;
  opacity: 0.5;
}
.new-message .message-block {
  height: 108px;
  background-color: #fefefe;
}
.new-message .attachment {
  margin: 8px 0 30px;
  opacity: 0.7;
}

.send-button {
  height: 54px;
  max-width: 220px;
  border: 0;
  margin: 0 19px 0 0;
  background: #c0c0c0;
  padding: 18px;
  font-size: 15px;
}

.schedule-delivery {
  margin: 18px 0 0 0;
  opacity: 0.3;
}

.tabs {
  border: 0;
  margin: 0 8px -5px 0;
  font-size: 15px;
  text-decoration: underline;
}

.active {
  border-bottom: 0px;
  text-decoration: none;
}

.tab3, .tab2, .tab1 {
  height: 36px;
  background: #f5f5f5;
}

.tab1 {
  max-width: 191px;
}

.tab2 {
  max-width: 168px;
}

.tab3 {
  max-width: 88px;
}

* {
  box-sizing: border-box;
}

.width {
  width: 100%;
}

body {
  font-family: Arial;
  background: #f8fafa;
  margin: 0;
  opacity: 0.8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.light {
  opacity: 0.2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.container-body {
  border: 1px solid #eaeaea;
  padding: 20px 20px 0 20px;
}

.container2 {
  background: #f5f5f5;
  display: none;
}

a {
  color: black;
}

.bold {
  font-weight: bold;
}

.footer {
  border: 0;
  padding: 6px 0 20px 0;
  opacity: 0.8;
}

#section1 {
  display: block;
}

.load {
  height: 80px;
  max-width: 454px;
  background: #c0c0c0;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0;
}
.load .load-message-details {
  opacity: 0.8;
}

.container2#section3 .conversations-header, .container2#section2 .conversations-header {
  margin: 30px 0 0 0;
  font-size: 30px;
}

.container2#section1 .new-text-message {
  margin: 23px 0 8px 0;
  font-size: 18px;
}
.container2#section1 .scheduled-message {
  margin: 18px 0 0;
  padding: 18px 0;
  text-align: center;
  background: #c0c0c0;
}
.container2#section1 .attach-photo-schedule-delivery {
  font-size: 15px;
}

.header .container2-header-left .phone-number {
  font-size: 30px;
}
.header .container2-header-left .set-name {
  font-size: 15px;
  opacity: 0.6;
}
.header .container2-header-right .view-conversation {
  font-size: 25px;
}

.enter-message {
  height: 50px;
  max-width: 770px;
  background: #fefefe;
  margin: 0 8px 8px 0;
}

.send-message {
  height: 52px;
  max-width: 142px;
  border: 0;
  background: #c0c0c0;
  font-size: 15px;
}

.sender {
  margin: 18px 0;
  font-size: 18px;
}

.chat-message {
  max-width: 730px;
  background: #e5e5e5;
  padding: 18px 45px 18px 18px;
}

* {
  box-sizing: border-box;
}

.width {
  width: 100%;
}

body {
  font-family: Arial;
  background: #f8fafa;
  margin: 0;
  opacity: 0.8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.light {
  opacity: 0.2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.container-body {
  border: 1px solid #eaeaea;
  padding: 20px 20px 0 20px;
}

.container2 {
  background: #f5f5f5;
  display: none;
}

a {
  color: black;
}

.bold {
  font-weight: bold;
}

.footer {
  border: 0;
  padding: 6px 0 20px 0;
  opacity: 0.8;
}

#section1 {
  display: block;
}

.load {
  height: 80px;
  max-width: 454px;
  background: #c0c0c0;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0;
}
.load .load-message-details {
  opacity: 0.8;
}

.container2#section3 .conversations-header, .container2#section2 .conversations-header {
  margin: 30px 0 0 0;
  font-size: 30px;
}

.container2#section2 .conversations {
  margin: 30px 0;
}
.container2#section2 .conversations .sender-col {
  max-width: 155px;
  margin: 0 20px 0 0;
}
.container2#section2 .conversations .messages-col {
  max-width: 750px;
}
.container2#section2 .conversations .messages-col .ribbon {
  height: 12px;
  max-width: 25px;
  font-size: 11px;
  background: black;
  color: white;
  padding: 3px 3px 2px;
}

.margin-top {
  margin: 30px 0 0 0;
}

* {
  box-sizing: border-box;
}

.width {
  width: 100%;
}

body {
  font-family: Arial;
  background: #f8fafa;
  margin: 0;
  opacity: 0.8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.light {
  opacity: 0.2;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.container-body {
  border: 1px solid #eaeaea;
  padding: 20px 20px 0 20px;
}

.container2 {
  background: #f5f5f5;
  display: none;
}

a {
  color: black;
}

.bold {
  font-weight: bold;
}

.footer {
  border: 0;
  padding: 6px 0 20px 0;
  opacity: 0.8;
}

#section1 {
  display: block;
}

.load {
  height: 80px;
  max-width: 454px;
  background: #c0c0c0;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0;
}
.load .load-message-details {
  opacity: 0.8;
}

.container2#section3 .conversations-header, .container2#section2 .conversations-header {
  margin: 30px 0 0 0;
  font-size: 30px;
}

.container2#section3 .images-row {
  margin: 30px 0 0 0;
}
.container2#section3 .images-row .imgblock {
  max-width: 200px;
  height: 200px;
  padding: 8px;
  border: 1px solid #eaeaea;
}
.container2#section3 .images-row .imgblock.imgMargin {
  margin: 0 41px 0 0;
}
.container2#section3 .images-row .imgblock .image {
  max-width: 178px;
  height: 142px;
}
.container2#section3 .images-row .imgblock .caption {
  font-size: 16px;
  margin: 3px 0;
}
.container2#section3 .images-row .imgblock .imgcaption {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
