* {
  box-sizing: border-box;
}

.width {
  width: 100%;
}

body {
  font-family: Arial;
  background: #f8fafa;
  margin: 0;
}

.header {
  margin: 0 0 30px 0;
}

h1 {
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.light {
  color: #cbcaca;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

.container-body {
  border: 1px solid #e0e0e0;
  padding: 20px 20px 0 20px;
}

.container2 {
  background: #f1f1f1;
  display: none;
}

a {
  color: black;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.footer {
  border: 0;
  padding: 6px 0 20px 0;
  font-size: 12px;
  color: #7c7c7c;
}

#section1 {
  display: block;
}

textarea {
  resize: none;
}

.load {
  max-width: 454px;
  background: #c0c0c0;
  margin: 50px auto;
  text-align: center;
  padding: 20px 0;
}
.load .load-more-details {
  margin: 5px 0 0 0;
  color: #6a6969;
}

.container2#section3 .conversations-header, .container2#section2 .conversations-header {
  font-size: 30px;
}

.main {
  border-top: 10px solid black;
}
.main .logout {
  font-size: 18px;
  margin: 4px 0 0 0;
}

.number {
  margin: 0 auto;
  max-width: fit-content;
}
.number.number-text {
  font-size: 33px;
}
.number.about-number {
  display: block;
  margin: 5px auto 18px auto;
  font-size: 12px;
}

.send-message-block {
  max-width: 850px;
  background: #e0e0e0;
  margin: 0 auto 70px;
  padding: 28px;
}
.send-message-block .label {
  margin: 0 10px 0 0;
  width: 120px;
  font-size: 25px;
  text-align: right;
}
.send-message-block .phone-number {
  height: 38px;
  max-width: 308px;
  background: #fefefe;
  margin: 0 10px 10px 0;
}
.send-message-block .phone-number-text {
  margin: 10px 0;
  font-size: 25px;
  font-style: italic;
  color: #a4a4a4;
}

.message-info {
  max-width: 650px;
}
.message-info .message-block {
  height: 108px;
  background-color: #fefefe;
  max-width: 650px;
  margin: 0 0 5px 0;
}
.message-info .attachment {
  font-size: 15px;
}
.message-info p {
  margin: 30px 0 0 0;
}
.message-info .send-button {
  height: 54px;
  max-width: 220px;
  border: 0;
  margin: 0 19px 0 0;
  background: #c0c0c0;
  padding: 18px;
  font-size: 15px;
  cursor: pointer;
}
.message-info .schedule-delivery {
  margin: 18px 0 0 0;
  color: #b1b1b1;
}
.message-info .schedule-delivery a {
  color: #b1b1b1;
}

.tabs {
  margin: 0 8px 0 0;
  font-size: 13px;
  text-decoration: underline;
}
.tabs.active {
  text-decoration: none;
}
.tabs.tab1 {
  max-width: 191px;
}
.tabs.tab2 {
  max-width: 168px;
}
.tabs.tab3 {
  max-width: 88px;
}

.tabs.tab1, .tabs.tab2, .tabs.tab3 {
  height: 36px;
  border: 1px solid #e0e0e0;
  background: #f1f1f1;
}

.change-password {
  margin: 10px 0 0 0;
  font-size: 13px;
}

.container2#section1 .new-text-message {
  margin: 0px 0 8px 0;
  font-size: 16px;
}
.container2#section1 .scheduled-message {
  margin: 18px 0 0;
  padding: 18px 0;
  text-align: center;
  background: #c0c0c0;
}
.container2#section1 .attach-photo-schedule-delivery {
  font-size: 14px;
}
.container2#section1 .enter-message {
  height: 52px;
  max-width: 770px;
  background: #fefefe;
  margin: 0 8px 3px 0;
}
.container2#section1 .send-message {
  height: 52px;
  max-width: 145px;
  border: 0;
  background: #c0c0c0;
  font-size: 15px;
  vertical-align: top;
}

.container2-header-left .phone-number {
  font-size: 30px;
}
.container2-header-left .set-name {
  font-size: 14px;
  vertical-align: middle;
  color: #a4a4a4;
}
.container2-header-left .view-conversation {
  font-size: 25px;
}
.container2-header-left .arrow {
  font-size: 15px;
  margin: 10px 0 0 9px;
}

.sender {
  margin: 15px 0;
  font-size: 16px;
}

.chat-message {
  max-width: 730px;
  background: #e5e5e5;
  padding: 18px 45px 18px 18px;
}

.container2#section2 .conversations {
  margin: 30px 0;
}
.container2#section2 .conversations .sender-col {
  max-width: 155px;
  margin: 0 20px 0 0;
}
.container2#section2 .conversations .messages-col {
  max-width: 750px;
}
.container2#section2 .conversations .messages-col .ribbon {
  font-size: 8px;
  background: black;
  color: white;
  padding: 2px;
  vertical-align: middle;
}

.sender-number {
  margin: 0 0 1px 0;
}

.margin-top {
  margin: 30px 0 0 0;
}

.container2#section3 .image-row {
  margin: 10px 0 0 0;
}
.container2#section3 .image-row .imgblock {
  margin: 30px 15px 0 15px;
  max-width: 200px;
  height: 207px;
  padding: 8px;
  border: 1px solid #e0e0e0;
}
.container2#section3 .image-row .imgblock .image {
  max-width: 178px;
  height: 142px;
  filter: opacity(0.2);
}
.container2#section3 .image-row .imgblock .caption {
  font-size: 16px;
  margin: 3px 0;
}
.container2#section3 .image-row .imgblock .imgcaption {
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
