.image-background {
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .background-overlay {
        background-color: rgba(178, 178, 178, 0.2);
        padding: 200px 10px 100px;
    }

    .h1 {
        max-width: 650px;
        margin: 0px auto 20px;
    }

    p {
        font-size: 20px;
    }

    .search-practice-col {
        max-width: 300px;
        border: 0;
    }

    input:focus{
        outline: none;
    }

    .postcode-col {
        max-width: 270px;
        border: 0;
    }

    .send-icon {
        width: 30px;
        padding: 18px 18px 0 0;
    }

    .search-bar {
        margin: 70px 0;
        .search-category {
            padding: 18px;
        }
    }

    button {
        @extend %button-border;
    }

    .play {
        width: 40px;
    }
}