$background: #f9f8fd;

%transparent-background {
    background-color: rgba(75, 92, 187, .92);
}

%button-border {
    border: 0;
    border-radius: 0;
}

%view-arrow {
    button {
        border: 1px;
        padding: 5px 15px;
        .arrow {
            border-left: 1px solid #e0e0e0;
            margin: 0 0 0 20px;
            padding: 0 0 0 5px;
        }
    }


}

.right {
    float: right;
}

.left {
    float: left;
}

.bold {
    font-weight: bold;
}

.full-width {
    width: 100%;
}

.row {
    --bs-gutter-x: 0;
}

.navbar-toggler {
    font-size: 15px;
    border: 0;
}

.card {
    box-shadow: 2px 3px #f3f2f8;
}