header {
    &.header-padding {
        padding: 22px 0;
    }

    .navbar-nav {
        .nav-item {
            margin: 0 40px 0 0;
        }
    }

    .have-account {
        margin: 0 -80px 0 0;
    }

    .create-account {
        padding: 10px 50px;
        border: 3px solid rgba(var(--bs-secondary-rgb));
        border-radius: 4px;
        color: #7b43f9;
    }
}