.search {
    padding: 150px 0;
    border: 1px solid #e0e0e0;

    aside {
        margin: 0 auto;
        max-width: 600px;
    }
}

.description {
    max-width: 445px;
    margin: 0 auto;
    padding: 100px 0;

    button {
        border-radius: 25px;
        padding: 5px 35px;
    }

    a {
        font-size: 15px;
        text-decoration: none;
    }

    .col-margin {
        margin: 0 15px 0 0;
    }

    .h2 {
        margin: 50px 0 40px 0;
    }
}

.scroll-content {
    margin: 20px 0 0 0;
    font-size: 12px;

    .image {
        height: 172px;
        width: 170px;
    }

    .scroll-card {
        border: 0;
        max-width: 370px;
    }

    .card-content {
        padding: 10px;
    }

    .scroll-card-footer {
        padding: 10px;
    }

    .bi-suit-heart {
        margin: 0 30px 0 0;
    }

    @extend %view-arrow;
}

.fade-out {
    opacity: 0.3;
}