.trial {
    background: url("images/doctor1.jpg") no-repeat;
    background-size: cover;

    .trial-row {
        padding: 130px 10px;
        @extend %transparent-background;
        list-style: none;
        

        .content {
            max-width: 450px;
            margin: 0 auto 25px auto;
        }

        button {
            @extend %button-border;
            margin: 20px 0 0 0;
            padding: 10px 20px 10px 0;
        }

        .button {
            padding: 10px 40px;
        }

        p {
            margin: 15px 0 25px 0;
        }
    }
}