md-toolbar {
    text-align: center;
}

// .filled {
//     color: orange;
// }

// .star-ratings {
//     font-size: 24px;
//     cursor: pointer;
//     color: #ccc;
// }

md-list-item:hover {
    background: #c3c1c1;
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1);
}

.toggle-button {
    font-size: 34px;
}

.margin {
    margin: 20px 0 0 0;
}

.custom-dialog {
    .dialog-image {
        width: 250px;
        height: 300px;
    }

    width: 400px;
    height: 600px;

}

// md-card-content {
//     p {
//         line-height: 2px;
//     }
// }